<h1> Please add a Quote!</h1>
<form action='/submit' method='post'>
    <label>Name</label>
    <input type='text' id='name' name='name'>
    <br>
    <label>Quote</label>
    <textarea name='quote' id='quote'></textarea>
    <br>
    <button type='submit'>Add Quote</button>
</form>
<form action='/quotes'>
    <button type='submit'>Go to Quotes</button>
</form>