<h3>Here are a list of Quotes & their creators.</h3>
<% for (var x in quote) {%>
    <h6><%=quote[x].quote %> was quoted by <%=quote[x].name %></h6>
<% } %>


<a href = '/'><button>Go Home</button></a>